/* ================= BENEFICIOS ================= */

.copy-benefits{
    display:flex;
    justify-content:center;
    gap:16px;
    margin-bottom:35px;
}

.copy-item{
    width:240px;
    padding:16px 18px;

    border-radius:18px;

    background:
    linear-gradient(
    145deg,
    rgba(255,255,255,.03),
    transparent),
    rgba(255,255,255,.02);

    border:1px solid rgba(255,255,255,.06);

    transition:.3s;
}

.copy-item:hover{
    transform:translateY(-3px);
    border-color:rgba(226,170,61,.15);
}

.copy-item h4{
    font-size:16px;
    margin-bottom:6px;
    color:#fff;
}

.copy-item p{
    font-size:13px;
    line-height:1.5;
    color:rgba(255,255,255,.55);
}


/* ================= BOTON ================= */

.copy-action{
    display:flex;
    justify-content:center;
    margin-bottom:22px;
}

.btn-copy{
    height:58px;
    padding:0 38px;

    border:none;
    cursor:pointer;

    border-radius:16px;

    display:flex;
    align-items:center;
    gap:12px;

    font-size:15px;
    font-weight:900;

    color:#111 !important;

    background:
    linear-gradient(
    180deg,
    #f2d287,
    #d8a94a 55%,
    #b9812d) !important;

    box-shadow:
    0 18px 40px rgba(216,169,74,.35);

    transition:.3s;
}

.btn-copy:hover{
    transform:translateY(-3px);
}

.btn-copy svg{
    width:18px;
    height:18px;
}


/* ================= AVISO ================= */

.copy-alert{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:8px;

    margin-top:8px;

    background:none;
    border:none;
    padding:0;
}

.copy-alert svg{
    width:15px;
    height:15px;
    color:rgba(255,255,255,.25);
}

.copy-alert p{
    color:rgba(255,255,255,.35);
    font-size:12px;
    line-height:1.5;
}


/* ================= RESPONSIVE ================= */

@media(max-width:700px){

    .copy-header h2{
        font-size:30px;
    }

    .copy-video-placeholder span{
        font-size:18px;
        text-align:center;
    }

    .copy-play{
        width:75px;
        height:75px;
    }

    .copy-benefits{
        flex-direction:column;
        align-items:center;
    }

    .copy-item{
        width:100%;
        max-width:320px;
    }

    .btn-copy{
        width:100%;
        justify-content:center;
    }

    .copy-alert{
        padding:0 10px;
    }

}